.product-list__actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.product-list__icon {
  width: 25px;
  cursor: pointer;
  transition: all 0.2s ease;
  opacity: 0.9;
}

.product-list__icon:hover {
  transform: scale(1.1);
}
