* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background:
    radial-gradient(circle at 20% 20%, #e55c87, transparent 40%),
    radial-gradient(circle at 80% 30%, #de0d50, transparent 40%),
    radial-gradient(circle at 70% 80%, #5d031f, transparent 50%), #21040d;
  height: 100vh;
}

.icon-login {
  display: block;
  margin: 0 auto;
  width: 110px;
  height: 110px;
}

.pessoa,
.cadeado {
  width: 36.5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.input-email,
.input-password {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.Email,
.Password {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.Login {
  background-color: #c0b9cc;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
  padding: 32px;
  height: 450px;
  width: 400px;
  border-radius: 45px;
}
p,
a {
  text-align: left;
  margin-top: 11px;
  font-size: 14px;
  text-decoration: none;
  color: #45404a;
}

.btn-login {
  display: block;
  margin: 0 auto;
  width: 50%;
  margin-top: 43px;
  padding: 10px 20px;
  background-color: #de0d50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-login:hover {
  background-color: #c00b3f;
  transform: scale(1.03);
  opacity: 0.9;
}

.create {
  color: #454444;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  margin-top: 21px;
}

.create-link {
  color: #8e0530;
  cursor: pointer;
}
