.emp-cnt {
  background-color: #f3f4f6;
  width: 1360px;
  margin: 10px;
  padding: 28px;
  border-radius: 12px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.267);
}

.emp-cnt h1 {
  font-size: 40px;
}

.emp-cnt p {
  margin-left: 2px;
  margin-top: 8px;
  margin-bottom: 30px;
  font-size: 18px;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: white;
  margin-top: 30px;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.152);
}

.navbar-icon {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.049);
  cursor: default;
  width: 60px;
  margin-right: 20px;
  margin-left: 50px;
}

.navbar p {
  margin-top: 30px;
}

.navbar b {
  font-size: 20px;
  border-bottom: 2px solid gray;
}

.navbar button {
  cursor: pointer;
  margin-left: 650px;
  color: white;
  padding: 9px 10px;
  background-color: #df0e51;
  border-radius: 6px;
  font-size: 16px;
  transition: all 0.2s ease;
  border: none;
}

.navbar button:hover {
  background-color: #c00b3f;
  transform: scale(1.03);
}

.table-info img {
  width: 25px;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-info {
  border: 1px solid gray;
  border-spacing: 0;
  width: 1305px;
  margin: 0;
  margin-top: 50px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.152);
}

.table-info th {
  background-color: #ececed;
  padding: 10px 15px;
  border-bottom: 1px solid gray;
}

.table-info td {
  padding: 8px 15px;
  text-align: center;
  background-color: white;
}
