.services {
  padding: 20px;
  background-color: #f3f4f6;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.navbar-secondary {
  display: flex;
  align-items: center;
  margin-top: 50px;
}
.search-group {
  position: relative;
  display: flex;
  align-items: center;
}
.search-group input {
  padding-left: 40px;
  height: 37px;
  width: 300px;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
}

.lupe-icon {
  padding-top: 3px;
  position: absolute;
  cursor: pointer;
  width: 40px;
  height: 40px;
  opacity: 0.7;
}

.filters-group {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
}

.employee,
.category {
  height: 37px;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
}

.actions-group {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.actions-group button {
  background-color: #de0d50;
  color: white;
  border: none;
  padding: 9px 16px;
  border-radius: 5px;
  cursor: pointer;
}

.actions-group button:hover {
  background-color: #c00b3f;
  transform: scale(1.03);
  opacity: 0.9;
}

.services-table {
  width: 100%;
  margin-top: 20px;
  border: 1px solid #b7b5b5;
  border-radius: 10px;
  border-collapse: collapse;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}
.services-table th {
  border-bottom: 1px solid #b7b5b5;
  background: #f5f5f5;
  padding: 10px;
  font-weight: 600;
}
.services-table td {
  padding: 12px 10px;
  text-align: center;
}
.actions {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.actions img {
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.actions img:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
