.title {
  font-size: 28px;
  margin-bottom: 30px;
}

.add-form {
  display: flex;
  flex-direction: column;
  background-color: #f3f4f6;
  padding: 20px;
  width: 650px;
  border-radius: 5px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.add-form label {
  display: block;
  margin-top: 20px;
  font-weight: 400;
}

.add-form input,
.add-form textarea {
  padding: 10px;
  width: 100%;
  max-width: 100%;
  border-radius: 4px;
  border: 1px solid #e2e2e2;
}

.add-form select {
  color: gray;
  padding: 10px;
  width: 50%;
  border-radius: 4px;
  border: 1px solid #e2e2e2;
}

.btn-add {
  margin-top: 30px;
  width: 150px;
  padding: 10px 20px;
  background-color: #de0d50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-add:hover {
  background-color: #c00b3f;
  transform: scale(1.03);
  opacity: 0.9;
}
