.title {
  font-size: 28px;
  margin-bottom: 30px;
}

.add-form {
  display: flex;
  flex-direction: column;
  background-color: #d9020210;
  margin-left: 70px;
  margin-top: 20px;
  padding: 20px;
  width: 600px;
  border-radius: 10px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.4);
}

.add-form label {
  display: block;
  margin-top: 20px;
  font-weight: 400;
}

.add-form input,
.add-form textarea {
  padding: 4px;
  width: 100%;
  max-width: 100%;
  border-radius: 4px;
  border: none;
}

.add-form select {
  padding: 4px;
  width: 50%;
  border-radius: 4px;
  border: none;
}

.btn-add {
  margin-top: 30px;
  width: 150px;
  padding: 10px 20px;
  background-color: #de0d50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-add:hover {
  background-color: #c00b3f;
}
