.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000000;
  padding: 10px 20px;
}
img {
  width: 270px;
}
.btn-logout {
  background-color: #df0e51;
  transition: all 0.2s ease;
  color: white;
  border: none;
  width: 100px;
  padding: 10px 20px;
  margin-right: 90px;
  border-radius: 5px;
  cursor: pointer;
}
.btn-logout:hover {
  background-color: #c00b3f;
}
