.list {
  background-color: white;
  margin-top: 15px;
}

.list-product p {
  font-size: 17px;
}

.list-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}
.list-table td:nth-child(4) {
  max-width: 300px;
}
.table-wrapper {
  max-height: 350px;
  overflow-y: auto;
  background: #f5f5f5;
}
.list-table thead th {
  position: sticky;
  top: 0;
  z-index: 2;
  background: #f0f0f0;
  border-bottom: 1px solid #e5e7eb;
}
.list-table tbody td {
  text-align: center;
  padding: 14px 12px;
  border-bottom: 1px solid #f1f1f1;
}
.list-table tbody tr {
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.list-table tbody tr:hover {
  background: #f9fafb;
}

.list-head {
  text-align: center;
}

.list-head th {
  padding: 5px;
  background-color: #f0f0f0;
}

.product-icon {
  width: 100px;
}

.list-actions img {
  width: 25px;
  margin: 2px;
  cursor: pointer;
}
.list-actions img:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
