.add-product {
  margin: 10px;
  height: 95vh;
  background-color: #f3f4f6;
  padding: 20px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.images-grid {
  display: flex;
  gap: 20px;
}

.image-section {
  width: 200px;
  height: 200px;
  align-items: center;
  background-color: #f0f0f0;
  flex-direction: column;
  margin-top: 20px;
  display: flex;
  gap: 10px;
  border-radius: 10px;
  border: 2px dashed #d2d2d2;
}
.image-section img {
  width: 80px;
  margin-top: 10px;
  align-items: center;
  border-radius: 4px;
  opacity: 0.5;
}
.image-section p {
  margin: 0;
  font-size: 14px;
  color: #666;
}
.file-upload input {
  display: none;
}

.file-upload {
  background: #f3f3f3;
  padding: 6px 14px;
  border-radius: 5px;
  border: 1px solid #e2e2e2;
  cursor: pointer;
  color: #252525;
}

.file-upload:hover {
  background: #efefef;
}

.form-layout {
  margin-top: 20px;
}

.fields-section {
  flex: 1;
  min-width: 400px;
}

.fields-section p {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}

.fields-section input,
.fields-section textarea,
.fields-section select {
  width: 900px;
  color: #252525;
  margin-top: 4px;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid #e2e2e2;
}

.price-stock {
  display: flex;
  gap: 10px;
}
.price-stock p {
  font-size: 14px;
  color: #252525;
}
.price-stock input {
  width: 100px;
  color: #252525;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid #e2e2e2;
}

.add-product-form button {
  margin-top: 100px;
  width: 150px;
  padding: 10px 20px;
  background-color: #de0d50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.add-product-form button:hover {
  background-color: #c00b3f;
  opacity: 0.9;
  transform: translateY(-1px);
}
