.sidebar {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 100vh;
  border-right: 1px solid #00000057;
  background-color: #f5f5f5;
  padding: 20px 0;
}

.sidebar-row {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 20px;
  margin: 20px 20px;
  border-radius: 10px;
  transition: all 0.2s ease;
}

.sidebar-row:hover {
  background: #df0e5015;
  color: #df0e51;
  cursor: pointer;
}

.sidebar-row.active {
  background: #df0e5020;
  color: #df0e51;
}

.icon {
  width: 22px;
  height: 22px;
}

.sidebar-item {
  margin: 0;
  font-size: 15px;
}
