.employees {
  padding: 20px;
  background-color: #f3f4f6;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
}
.employees-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
}
.employees-view {
  margin: 0 0px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}
.employees-search-group {
  display: flex;
  align-items: center;
  margin-left: 70px;
}
.employees-search {
  padding-left: 40px;
  height: 37px;
  width: 500px;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
}

.employees-add-btn {
  background-color: #de0d50;
  color: white;
  border: none;
  padding: 9px 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: auto;
}
.employees-add-btn:hover {
  background-color: #c00b3f;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
}
.table-container {
  margin-top: 20px;
  border: 1px solid #000000;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.table-container th {
  background: #f3f4f6;
  border-bottom: 1px solid #000;
  background: #f5f5f5;
  padding: 10px;
  font-weight: 600;
}
.table-container td {
  padding: 12px 10px;
  text-align: center;
}
